@font-face {
  font-family: "iconfont"; /* Project id 993865 */
  src: url('https://at.alicdn.com/t/c/font_993865_q10c9hk0z2.woff2?t=1732356148624') format('woff2'),
       url('https://at.alicdn.com/t/c/font_993865_q10c9hk0z2.woff?t=1732356148624') format('woff'),
       url('https://at.alicdn.com/t/c/font_993865_q10c9hk0z2.ttf?t=1732356148624') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-shouhoutuikuan:before {
  content: "\e767";
}

.icon-baoguo_shouhuo_o:before {
  content: "\ebb8";
}

.icon-daifahuo:before {
  content: "\e760";
}

.icon-daifahuo-xingerenzhongxin:before {
  content: "\e782";
}

.icon-daifukuan:before {
  content: "\e766";
}

.icon-daifukuan-xingerenzhongxin:before {
  content: "\e788";
}

.icon-daipingjia:before {
  content: "\e75e";
}

.icon-daishouhuo:before {
  content: "\e75d";
}

.icon-duihao:before {
  content: "\e64e";
}

.icon-fanhui2:before {
  content: "\e7a9";
}

.icon-fanhuishouye:before {
  content: "\e6df";
}

.icon-gengduo1:before {
  content: "\e674";
}

.icon-gengduo2:before {
  content: "\e6cd";
}

.icon-gengduo5:before {
  content: "\e7ab";
}

.icon-gerenzhongxin1:before {
  content: "\e79c";
}

.icon-gouwuche6:before {
  content: "\e6e8";
}

.icon-gouwuche-yangshi1:before {
  content: "\e75b";
}

.icon-jiahao:before {
  content: "\e754";
}

.icon-jiazai:before {
  content: "\e62c";
}

.icon-kanjiahuohua:before {
  content: "\e890";
}

.icon-quanbudingdan-xingerenzhongxin:before {
  content: "\e784";
}

.icon-shanchu1:before {
  content: "\e611";
}

.icon-shezhi:before {
  content: "\e619";
}

.icon-shoucang3:before {
  content: "\e79d";
}

.icon-shouye3:before {
  content: "\e74c";
}

.icon-shouye4:before {
  content: "\e64d";
}

.icon-shouye8:before {
  content: "\e79e";
}

.icon-sousuo:before {
  content: "\e67d";
}

.icon-sousuo5:before {
  content: "\e6e3";
}

.icon-sousuo6:before {
  content: "\e79b";
}

.icon-sousuo8:before {
  content: "\e82b";
}

.icon-xiala:before {
  content: "\e67f";
}

.icon-xiangshang:before {
  content: "\ebbb";
}

.icon-xiangxia:before {
  content: "\e8ca";
}

.icon-xiangyou:before {
  content: "\e679";
}

.icon-xiazai5:before {
  content: "\e605";
}

.icon-xuanzhong:before {
  content: "\e615";
}

.icon-you:before {
  content: "\e66f";
}

.icon-dadianhua01:before {
  content: "\e623";
}

.icon-tianjiadizhi:before {
  content: "\e640";
}

.icon-weixin2:before {
  content: "\e604";
}

.icon-dizhi:before {
  content: "\e608";
}
